<p id="notice"><%= notice %></p>

<p>
  <strong>Sha1:</strong>
  <%= @arquivo.sha1 %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @arquivo.documento.blob.filename %>
</p>

<p>
  <strong>Tamanho:</strong>
  <%= number_to_human_size @arquivo.documento.blob.byte_size  %>
</p>

<%= link_to 'Editar', edit_arquivo_path(@arquivo) %> |
<%= link_to 'Listar Arquivos', arquivos_path %>
